<!-- <div {{#if id}}id="{{id}}"{{/if}} class="m-confirm-overlay"> -->
<div {{#if id}}id="{{id}}"{{/if}} class="b-confirm-overlay">

  <!-- <div class="m-header"> -->
  <div class="b-header">
    <div class="left">{{{header}}}</div>
    <div class="mb-j-overlay-close"><span class="b-overlay-close-text">Close</span><a class="icon-close"></a></div>
  </div>

  <!-- <div class="m-content">{{{content}}}</div> -->
  <div class="b-overlay-content">{{{content}}}</div>

  <!-- <div class="m-footer">{{{footer}}}</div> -->
  <div class="b-overlay-footer">{{{footer}}}</div>
</div>
