<div id="b-bops-results">
  {{#if_eq errorCode compare='INVALID_SEARCH'}}
    <div class="b-bops-error-invalid-search">
      <b>Either the location you entered is invalid or there are no stores within {{distance}} miles. Please try again.
    </div>
  {{else}}
    {{#unless stores}}
      <div class="b-bops-error-nostores">
        <b>Unfortunately there are no stores within {{requestParams.radius}} miles of where you live.</b> </br>
        You can always have your item(s) shipped or choose a preferred store outside of your area.
      </div>
    {{else}}
      <button id="mb-bops-clear">Clear In-Store Pickup</button>

      <div class="b-bops-results-title">
        Only one store can be selected at a time
      </div>

      <ul id="b-bops-results-wrapper" class="facet-selection-items b-bops-result facet-single">
      {{#each stores}}
        <li class="facet-value {{#if_eq values compare=../selectedStore}}facet-value-selected{{/if_eq}} {{#if_eq productcount compare=0}}facet-value-disabled{{/if_eq}}" data-facet-value="{{values}}" data-facet-bops-store-name="{{name}}" data-facet-bops-zip="{{address.zipCode}}">
          {{> bopsFacetResult}}
        </li>
      {{/each}}
      </ul>
    {{/unless}}
  {{/if_eq}}
</div>