<div class="b-bops-store-details display">
  <span class="facet-value-action-icon"></span>
  <div class="display-inner">
    <div class="display-name-wrapper">
      <div class="display-name">{{name}}</div>
      <div class="count-display-name">[{{productcount}}]</div>
    </div>
    <div class="display-address-wrapper">
      {{address.city}}, {{address.state}} {{distance}} Miles
    </div>
  </div>
  </div>