<div class="mb-j-store-event-lineitem" data-event="{{eventId}}">
  <div class="m-store-event-date">
    <div class="m-store-event-month">{{eventMonth startDate}}</div>
    <div class="m-store-event-day">{{eventDay startDate}}</div>
  </div>
  <div class="m-store-event-name-and-time">
    <div class="m-store-event-name">{{eventName}}</div>
    <div class="m-store-event-time">{{eventDateTime startDate finishDate}}</div>
  </div>
  <div class="clearfix"></div>
</div>
