<div class="mb-j-toggleselect-item value-1 left active {{value1.class}}" data-value="{{value1.value}}">{{value1.label}}</div>
<div class="mb-j-toggleselect-item value-2 right {{value2.class}}" data-value="{{value2.value}}">{{value2.label}}</div>

<input class="mb-j-toggleselect-value" name="{{name}}" type="hidden" value="{{value1.value}}" />

<div class="clearfix"></div>