{{#if url }}
	<a class="m-j-cm-link" href="{{url}}{{useUrlParamConnector url}}cm_sp=mew_us_{{encode cmPageName}}{{encode cmBreadcrumb}}-_-ad{{seqNumber}}-_-{{encode altText}}">
{{/if}}
  <img class="m-banner-img" src="{{imageFileName}}" alt="{{altText}}"/>
{{#if url}}
	</a>
{{/if}}