<div class="m-bops-store-details display">
  <div class="display-inner row">
    <div class="small-9 columns nopad display-address-wrapper">
      <div class="display-name">{{name}}</div>
      <div class="display-address">
        {{address.city}}, {{address.state}} {{distance}} Miles
      </div>
    </div>
    <div class="small-3 columns nopad count-display-name-wrapper">
      <div class="count-display-name">{{productcount}}</div>
    </div>
  </div>
</div>